@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: pink;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: darkred;
}

#column-2 {
  background: red;
}

#column-3 {
  background: coral;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: lightcoral;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: darkblue;
  }

  #column-1 {
    background-color: black;
    width: 33.3%;
  }

  #column-2 {
    background-color: lightblue;
    width: 33.3%;
  }

  #column-3 {
    background-color: cyan;
    width: 33.3%;
  }

  footer {
    background-color: lightskyblue;
  }

  .col-3 {
    width: 33.3%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: green;
  }

  #column-1 {
    background-color: greenyellow;
  }

  #column-2 {
    background-color: darkgreen;
  }

  #column-3 {
    background-color: darkolivegreen;
    width: 33.3%;
  }

  footer {
    background-color: olivedrab;
  }

  .col-3 {
    width: 33.3%;
  }
   
}
